body {
      margin: 0;
      font-family: 'Inter', sans-serif;
      background-color: #f0f2f5;
    }
    .sidebar {
position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 80px;             
  background-color: #5C88B2; 
  font-size: 11px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;      
  padding-top: 75px;
    }
 .main {
  margin-left: 80px;
  margin-top: 30px;
  padding: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s;
}

.menu-item:hover {
  background-color: #4a6e91; 
}

.sidebar-icon {
  font-size: 20px;
}

.menu-label {
  font-size: 11px;
  margin-top: 5px;
  text-align: center;
}

.blank-container {
  display: flex;
  margin: 20px 0;
}


.container {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  flex: 1;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
  font-size: 14px;
  min-height: 700px; 
}

.products-table {
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 12px; 
  overflow: hidden; 
  border-collapse: separate;
  border-spacing: 0; 
}

.products-table th,
.products-table td {
  border: 1px solid #ddd;
  padding: 12px;
  height: 60px;
}

.products-table thead th {
  background-color: #e0e0e0;
  font-weight: bold;
  color: #000;
}

.products-table td:nth-child(1) {
  background-color: #ffffff;
  color: #000;
}

.products-table td:nth-child(2) {
  background-color: #cceeff;
  color: #000;
}

.products-table th.product-class,
.products-table td.product-class {
  width: 80%;
}

.products-table th.price-class,
.products-table td.price-class {
  width: 20%;
}

.search-option{
  padding: 8px; 
  width: 100%; 
  max-width: 300px; 
  border-radius: 6px; 
  border: 1px solid #ccc;
}

.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

.search-option {
  width: 100%;
  padding: 8px 35px 8px 10px; 
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  right: -70px; 
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
  font-size: 20px; 
}
