body {
      margin: 0;
      font-family: 'Inter', sans-serif;
      background-color: #f0f2f5;
    }
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 80px;               
  background-color: #5C88B2; 
  font-size: 11px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;      
  padding-top: 75px;
    }
 .main {
  margin-left: 80px;
  margin-top: 30px; 
  padding: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s;
}

.menu-item:hover {
  background-color: #4a6e91; 
}

.sidebar-icon {
  font-size: 20px;
}

.menu-label {
  font-size: 11px;
  margin-top: 5px;
  text-align: center;
}

.blank-container {
      display: flex;
      margin: 20px 0;
    }

.container {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  flex: 1;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
  font-size: 14px;
  min-height: 700px; 
}


.status-pill {
  display: inline-block;
  width: 80px;
  height: 25px;
  border-radius: 12px;
}

.status-good {
  background-color: rgb(36, 184, 36);
}

.status-warning {
  background-color: rgb(238, 207, 32);
}

.status-critical {
  background-color: rgb(214, 42, 42); 
}


    .plus-btn, .minus-btn {
      padding: 4px 8px;
      margin: 0 2px;
      background-color: #007bff;
      color: white;
      border: 1px solid #007bff;
      cursor: pointer;
      border-radius: 3px;
    }

    .plus-btn:hover, .minus-btn:hover {
      background-color: #0056b3;
    }

    .price-input {
      width: 60px;
      border: 1px solid #ccc;
      padding: 2px 5px;
      text-align: right;
    }

    input[type="text"], input[type="number"], button {
      padding: 6px 10px;
      font-size: 14px;
    }

    #searchBox {
      margin-bottom: 10px;
      padding: 6px;
      width: 180px;
      font-size: 14px;
    }

    table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-top: 2px solid rgb(61, 61, 61);
    border-bottom: 1px solid rgb(114, 114, 114);
    }


    thead th {
    font-weight: bold;
    border-bottom: 2px solid black;
    }

    tr {
    border-bottom: 1px solid black;
    }

    th, td {
    text-align: center;
    padding: 8px;
    }

    .form-production{
      margin-bottom: 10px; 
      display: flex; 
      gap: 10px;
    }
.primary-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.primary-btn:hover {
  background-color: #0056b3; 
}

.search-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-icon {
  color: #000000;
  font-size: 24px;
  line-height: 1;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
